.Form {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.Events-container {
  text-align: center;
}

.Event-container {
  justify-content: center;
}

.Image {
  margin-left: auto;
  margin-right: auto;
}