.Form {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

p {
  text-align: center;
}

.Page-text, h1, h2 {
  text-align: center;
}

.Container {
  justify-content: center;
  padding: 50px;
}

.Image {
  margin-left: auto;
  margin-right: auto;
}